.generaldiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98.7vw;
    height: 100vh;
    background-image: url("../../assets/darkwall3.jpg");
    background-position: center; 
    background-size: contain;
    /* padding-top: 20px; */
    position: relative;
}
.title{
    font-size: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(rgb(236, 221, 11)));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Press Start 2P";
}
.cardDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98.7vw;
}
.divloading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 200px;
    background-image: url("../../assets/pacman3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
.back{
    position: absolute;
    top: 45px;
    left: 45px;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-family: "Lobster Two";
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 #FF005C, -1px -1px 0 #FF005C, 1px -1px 0 #FF005C, -1px 1px 0 #FF005C, 1px 1px 0 #FF005C;
    border: solid 2px white;
    text-align: center;
    box-shadow: 0 0 5px 2px #05FF00, inset 0 0 4px 2px #05FF00;
    rotate: -20deg;
}
.back:hover{
    box-shadow: 0 0 5px 2px #FF005C, inset 0 0 4px 2px #FF005C;
    text-shadow: 2px 2px 0  #05FF00, -1px -1px 0 #05FF00, 1px -1px 0 #05FF00, -1px 1px 0 #05FF00, 1px 1px 0 #05FF00;
}

.created{
    position: absolute;
    bottom: 45px;
    right: 45px;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-family: "Lobster Two";
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 #FF005C, -1px -1px 0 #FF005C, 1px -1px 0 #FF005C, -1px 1px 0 #FF005C, 1px 1px 0 #FF005C;
    border: solid 2px white;
    text-align: center;
    box-shadow: 0 0 5px 2px #05FF00, inset 0 0 4px 2px #05FF00;
    rotate: 20deg;
}
.created:hover{
    box-shadow: 0 0 5px 2px #FF005C, inset 0 0 4px 2px #FF005C;
    text-shadow: 2px 2px 0  #05FF00, -1px -1px 0 #05FF00, 1px -1px 0 #05FF00, -1px 1px 0 #05FF00, 1px 1px 0 #05FF00;
}
