.card{
   border-radius: 40px; 
   width: 350px;
   height: 350px;
   display: flex;
   flex-direction: column;
   border:  none;
   background-color: #1e1e1e;
   padding: 0;
   justify-content: space-between;
   color: white;
   position: relative;
   box-shadow: 0 0 5px 2px #00C8F4, inset 0 0 4px 2px #00C8F4;
}
.card:hover{
    box-shadow: 0 0 5px 2px #8F00FF, inset 0 0 4px 2px #8F00FF;
}

.name {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin: 0;

}

.list{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap:3.5px;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
}
.list p{
    box-sizing: border-box;
    color: #0680f1;
    border: #0680f1 1px solid;
    border-radius: 9999px;
    padding: 5%;
    margin: 0;
    font-size: 12px;
}


.buttonname{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #0680f1;
    border-radius: 100%;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.genres{
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.image{
    width: 100%;
    border-radius: 40px 40px 0px 0px;
} 
.cardinfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: #1e1e1e;
    position: absolute;
    bottom: 0;
    z-index: 25;
    border-radius: 0px 0px 40px 40px;
    
}
.divdelete{
    width: 25px;
    height: 20px;
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 25;

}
.divdelete button{
    border-radius: 100%;
    border: none;
    background-color: #a30303;
    color: white;
    box-shadow: 2px 2px 0 rgb(36, 1, 1), -1px -1px 0 rgb(36, 1, 1), 1px -1px 0 rgb(36, 1, 1), -1px 1px 0 rgb(36, 1, 1), 1px 1px 0 rgb(36, 1, 1);
}