.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card{
    width: 70%;
    height: 100%;
   justify-content: center;
   border: none;
   display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
}
.image{
    width: 420px;
}
.name{
    font-family: "Press Start 2P";
    font-size: 1.8rem;
    text-shadow: 3px 3px 0 rgb(120, 120, 120), -1px -1px 0 rgb(120, 120, 120), 1px -1px 0 rgb(120, 120, 120), -1px 1px 0 rgb(120, 120, 120), 1px 1px 0 rgb(120, 120, 120);
    
}
.description{
    /* font-family: "Press Start 2P"; */
    font-size: 15px
}
.imyname{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divimage{
    width: 450px;
    /* position: relative; */
}
.genres, .platforms, .rating, .released{
    /* font-family: "Press Start 2P"; */
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    /* text-shadow:2px 2px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0); */
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    
}
li{
    list-style: none;
}
.liinfo{
    font-family:"Press Start 2P";
}
.buttonsinfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    justify-content: flex-start;

}
.binfo{
    border: none; 
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}
.binfo:focus{
    color: black;
    outline: none;
}

.binfo:focus span{
    font-size: 15px;
    font-weight: 700;
    font-family: "Press Start 2P";
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes parpadeo {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}
